body{
	margin:0;
}

.titre{
	text-align: center;

}

.navbar{
	width:250px;
	background: pink;
	position: absolute;
	top:5px;
	display: none;
	height: 99%;
	top:0;
}



.imgMenu{
	position: absolute;
	top:5px;

}

.closeSidebar{
	margin-left: 230px;
}

.listeOnglet{
	list-style: none;
	margin:0;
	padding-left: 5px;
	margin-top: 20px;
}



.containerPrincipal{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.navbar a{
	color:white;
	text-decoration: none;
	display: block;

}

.navbar a:hover{
	color: black;
}

.listeOnglet img{
	width:80%;
}

.listeOnglet img:hover{
	width: 90%;
}

