.colonne{
	padding-left: 20px;
	padding-right: 20px;

}

table{
	
	border-collapse: collapse;
	width: 100%
}

.listeRecette{
	text-align: center;
	width: 80%;
	margin-left:10%;
}

.ligne0, .ligne1, .colonne{
	border: 1px solid black;
	cursor: pointer;
}

.ligne0:hover, .ligne1:hover{
	background: pink;
}

.ligne0{
	background: lightgrey;
}